{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2>Our Clinic</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c1.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c3.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c5.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c6.JPG' %}" alt="#" /> </div>
        </div>
         <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c4.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c2.JPG' %}" alt="#" /> </div>
        </div>
         <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/c7.JPG' %}" alt="#" /> </div>
        </div>

    </div>
    </div>
    </div>


    </div>
    </div>
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}