{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2>Dr. Bhagirath B. Vala</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/doctor_3.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/IMG_5856.JPG' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
                <center><h4>About The Doctor</h4></center>
                  <h4>Qualification:</h4>
                  <ul>
                    <li><i class="fa fa-bookmark-o"></i>Bachelor Of Dental Surgery (B.D.S.) A.M.C. Dental Hospital, Ahemdabad</li>
                    <li><i class="fa fa-bookmark-o"></i>Post Graduation Diploma In Clinical Cosmetology (PGDCC) ILAMED, Mumbai</li>
                    <li><i class="fa fa-bookmark-o"></i>Fellowship In Aesthetic Dentistry (FAD)</li>
                    <li><i class="fa fa-bookmark-o"></i>Certificate Caurse in Oral Cancer From Edu-Can Ahemdabad</li>
                  </ul>
            </div>
            <div class="full text_align_left">
               <h4>Work Experience</h4>
                  <ul>
                    <li><i class="fa fa-briefcase"></i>Worked As Associate Dentist In Civil Hospital, Amreli.</li>
                    <li><i class="fa fa-briefcase"></i>Worked As Medical Officer In Govt Designated Covid Hospital, Amreli</li>
                    <li><i class="fa fa-briefcase"></i>Worked As Intern Dentist In VS Hospital - Ahemdabad,LG hospital - Ahemdabad and Shardabaa Hospital - Ahemdabad.</li>
                    <li><i class="fa fa-briefcase"></i>Worked As Associate Dentist In various Rural Dental Camp In Ahemdabad And Amreli</li>
                    <li><i class="fa fa-briefcase"></i>Member Of Dental Council Of India and Indian Dental Association.</li>
                  </ul>
            </div>
            <div class="full text_align_left">
              <h4>Academic Achievement</h4>
                  <ul>
                    <li><i class="fa fa-trophy"></i>Awarded By DDO Amreli For Covid -19 Duty In Various Govt Hospital, Amreli</li>
                    <li><i class="fa fa-trophy"></i>Awarded By Certificate Of Participation In Oral Cancer Seminar.</li>
                    <li><i class="fa fa-trophy"></i>Awarded By Certificate Of excellence In National Conference 2016</li>
                    <li><i class="fa fa-trophy"></i>Awarded By Certificate Of Participation in Dental Conference (Dentarena) In Civil Hospital, Jamanagar</li>
                    <li><i class="fa fa-trophy"></i>Awarded By Certificate Of Participation In Dental Conference 2017.</li>
                  </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    

    </div>
    </div>
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}