<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Arth Dental & Cosmetic Hospital</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons shivam soni--------->
    <link rel="icon" href="{% static 'images/fevicon/IMG_20210218_211157.jpg' %}" type="image/gif"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- Site css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <!-- colors css -->
    <link rel="stylesheet" href="{% static 'css/colors1.css' %}"/>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <!-- wow Animation css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}"/>
    {% block head %}

    {% endblock %}
</head>

<body id="default_theme" class="it_service">
<!-- js section -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- header -->
<header id="default_header" class="header_style_1">
    <!-- header top -->

    <div class="header_bottom">
        <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo"><a href=""><img src="{% static 'images/it_service/logo_color2.png' %}"
                                                          alt="logo"/></a></div>
                    </div>
                    <div class="col-md-10">
                        <h2 style="color:#039ee3" >Arth Dental Hospital - Cosmetic & Implant Center</h2>
                        <center><p style="color:#039ee3">Address : 1st Floor,Opp Thakkar Thal,Rajkamal Chowk,Amreli</p></center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="menu_side pull-right">
                            <div id="navbar_menu">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li><a class="active" href="{% url 'index' %}">Home</a></li>
                                    <li><a href="#">About US</a>
                                        <ul>
                                            <li><a href="{% url 'doctor' %}">About The Doctor</a></li>
                                            <li><a href="{% url 'clinic' %}">About The Clinic</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dental Service</a>
                                        <ul>
                                            <li><a href="{% url 'replace' %}">Replacing Missing Teeth</a></li>
                                            <li><a href="{% url 'canal' %}">Root Canal Treatment</a></li>
                                            <li><a href="{% url 'wisdom' %}">Wisdom Teeth</a></li>
                                            <li><a href="{% url 'implants' %}">Dental Implants</a></li>
                                            <li><a href="{% url 'orthodontia' %}">Orthodontia</a></li>
                                            <li><a href="{% url 'cavities' %}">Fixed Broken Teeth & Cavities</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Common Dental Problem</a>
                                        <ul>
                                            <li><a href="#">Toothache</a></li>
                                            <li><a href="#">Bad Breath</a></li>
                                            <li><a href="#">Sensitivity</a></li>
                                            <li><a href="#">Broken Teeth</a></li>
                                            <li><a href="#">Loose Teeth</a></li>
                                            <li><a href="#">Short Teeth</a></li>
                                            <li><a href="#">Bleeding Gums</a></li>
                                            <li><a href="#">Crooked Teeth</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Cosmetic Dentistry</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- menu end -->
            </div>
        </div>
    </div>
    </div>
    <!-- header bottom end -->
</header>
{% block content %}

{% endblock %}
<footer class="footer_style_2">
    <div class="container-fuild">
        <div class="row">
            <div class="footer_blog">
                <div class="row">
                    <div class="col-md-6">
                        <div class="main-heading left_text">
                            <h2>Amreli Branch</h2>
                        </div>
                        <p>Arth Dental & Cosmetic Hospital,<br/>1st Floor,<br/>Opp Thakkar Thal,<br/>Rajkamal Chowk,<br/>Amreli-365601
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="main-heading left_text">
                            <h2>Additional links</h2>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="{% url 'doctor' %}"><i class="fa fa-angle-right"></i>About us</a></li>
                            <!--                <li><a href="/chat/contact_view"><i class="fa fa-angle-right"></i> Contact us</a></li>-->
                            <div class="footer_mail-section">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input placeholder="Email" type="text">
                                            <button class="button_custom"><i class="fa fa-envelope"
                                                                             aria-hidden="true"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cprt">
                <p>Divyrath © Copyrights 2021 Design by shivtech</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>