{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<!-- section -->
<div class="section padding_layout_1">
<div class="container">
    <div class="row">
        <!--section intro-->
        <div class="row about_blog">
            <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
              <center><mark><h2 style="color:#039ee3">Cosmetic Dentistry</h2></mark></center>
              <ul>
                <li class="text-justify">Cosmetic Teeth Whitening: Also called “teeth bleaching,” this procedure can brighten and whiten your teeth from discoloration and/or staining. It can be done in the dental office or at home. Not everyone’s teeth can be bleached, so it is very important to check with your dentist first.</li>
                <li class="text-justify">Cosmetic Dental Veneers: Veneers are a thin shell made out of porcelain or composite material. They're custom made and cemented to the front side of the tooth. A veneer can be used to treat dental conditions such as a slightly crooked tooth, discolored teeth, chipped teeth, or even to cover spaces in between the teeth.</li>
                <li class="text-justify">Cosmetic Dental Implants: A dental implant is a metal device designed to replace missing teeth. The device is usually made out of titanium and is surgically placed into the jawbone where the tooth is missing. A dental implant is designed to act as the tooth root and can anchor artificial teeth such as a crown, bridge, or denture</li>
                <li class="text-justify">Cosmetic Dental Crowns: Crowns, also referred to as caps, are custom made to fit over your whole tooth after the cosmetic dentist has prepared it. They are usually made out of acrylic or porcelain that has been fused to metal to withstand biting pressure. Crowns can be used in cosmetic dentistry to treat teeth that are poorly shaped, badly decayed, broken, chipped, or have had large fillings , or t cover spaces in between teeth.</li>
                <li class="text-justify">Cosmetic Teeth Shaping: Also referred to as “enamel shaping,” the dentist can reshape the tooth by filing or removing some of the enamel. This process is usually not painful and can produce immediate effects.</li>
                <li class="text-justify">Cosmetic Tooth Bonding: Bonding is the process in which tooth-colored materials are adhered (bonded) to the tooth. This is a procedure that can be used to repair or improve the appearance of a tooth that has been badly stained, broken, or chipped.</li>
                <li class="text-justify">Cosmetic Orthodontic Treatment: Orthodontics are not just for kids. More and more adults are seeking treatment from orthodontists for cosmetic purposes. If you have buck teeth or crooked teeth, ask your dentist if an orthodontist can help you.</li>
              </ul>
            </div>
            </div>
        <!--end section intro-->
    </div>
    </div>
<!-- end section -->

</div>
</div>
{% endblock %}