{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2 style="color:#039ee3">Dental Implants</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog full text_align_left">
          <h3>ગુમાવેલા દાંત ફરીથી બેસાડવા માટેનો શ્રેષ્ઠ ઉપાય</h3>
          <ul>
            <li><i class="fa fa-check-circle"></i>ડેન્ટલ ઈમ્પ્લાન્ટ કુદરતી દાંત જેવું જ લાગે છે, કુદરતી દાંતની જેમ જ કામ આપે છે, કુદરતી દાંત જેવું જ મહેસુસ કરાવે છે. ડેન્ટલ ઈમ્પ્લાન્ટની સારવારમાં જડબાના હાડકામાં ટાઇટેનીયમ ધાતુનું મૂળિયું બેસાડવામાં આવે છે.</li>
            <li><i class="fa fa-check-circle"></i>ટાઇટેનીયમ એક જ એવી ધાતુ છે જેનો આપણું શરીર સ્વીકાર કરે છે. ઓર્થોપેદિક સર્જન જે ગોઠણમાં ધાતુના સાંધા ફીટ કરે છે, ફ્રેકચર થઇ ગયેલા હાડકા સાંધવા માટે ધાતુના સળિયા નાખે છે, તે ટાઇટેનીયમ ધાતુના જ હોય છે</li>
            <li><i class="fa fa-check-circle"></i>દાંતના ડોક્ટર આ ટાઇટેનીયમ ધાતુના સ્ક્રુ ઉપર ક્રાઉન, બ્રીજ કે ચોકઠું બેસાડી આપે છે, જે એકદમ કુદરતી દાંત જેવું જ મહેસુસ કરાવે છે, અને જો તેની યોગ્ય સંભાળ લેવામાં આવે તો જિંદગીભર સાથ આપે છે અને દરેક પ્રકારના ખોરાકનો  આનદ માણવાની મજા આપે છે.</li>
            <li><i class="fa fa-check-circle"></i>દાંતનો સડો, પાયોરીયા કે ઈજાના કારણે ગુમાવેલા દાંતને ફરીથી બેસાડવાની ટેકનોલોજીમાં ડેન્ટલ ઈમ્પ્લાન્ટ અત્યારે ઘણું જ અગ્રેસર છે અને જો સારવાર માટે યોગ્ય પધ્ધતિ અને નિયમો અનુસરવામાં આવે તો તેના સફળતાનો આંક પણ ઘણો ઉંચો છે.</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog padding_right_0" >
            <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/dental_implants.jpg' %}" alt="#" /> </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
                <h4>ડેન્ટલ ઈમ્પ્લાન્ટની સારવારનો લાભ કોણ લઇ શકે ?</h4>
                <ul>
                <li class="text-justify">જે લોકોના એક અથવા એક કરતા વધારે દાંત ના હોય, દાંત એટલા વધારે તૂટી કે સડી ગયેલા હોય કે તે રૂટ કેનાલ ટ્રીટમેન્ટથી બચી શકે તેમ ન હોય, તો તે લોકો ઈમ્પ્લાન્ટ કરાવી શકે. જે લોકો ઢીલા ચોકઠાં, ખાસ કરીને નીચેના ચોકઠાથી પરેશાન હોય, અડધિયા ચોકઠાં ફાવતા ના હોય તે લોકો પણ આ આધુનિક ટેકનોલોજીનો લાભ લઇ શકે છે.
                </li>
                </ul>
            </div>
            <div class="full text_align_left">
                <h4>ડેન્ટલ ઈમ્પ્લાન્ટના ફાયદાઓ</h4>
                <ul>
                <li class="text-justify">૧) ડેન્ટલ ઈમ્પ્લાન્ટ કુદરતી દાંત ની જેમ જ કામ આપે છે. ડેન્ટલ ઈમ્પ્લાન્ટ કુદરતી દાંતની જેમ જ અને  એટલું જ ચાવવામાં કામ આપે છે. મોટા ભાગના દર્દીઓ ઈમ્પ્લાન્ટ દાંત તેમજ જ કુદરતી દાંત વચ્ચેનો ભેદ પારખી શકતા નથી. ઈમ્પ્લાન્ટ દાંતથી સરળતાથી ચાવી શકાય છે તેમજ તેને કુદરતી દાંતની જેમ જ બ્રશથી સાફ કરી શકાય છે.
                </li>
                <li class="text-justify">૨) ડેન્ટલ ઈમ્પ્લાન્ટ લાંબો સમય કામ આપે છે. ચોકઠું ૫ થી ૭ વર્ષ કામ આપે છે. ડેન્ટલ ઈમ્પ્લાન્ટ ટાઇટેનીયમમાંથી બનાવેલ હોય છે અને તે જડબાના હાડકા  જોડે સજ્જડ રીતે જોડાયેલું હોય છે. આપનું શરીર તેને સહજતાથી સ્વીકારે છે. ગુમાવેલા દાંત ફરીથી બેસાડવા માટે ડેન્ટલ ઈમ્પ્લાન્ટ એક સચોટ ઉપાય છે.
                </li>
                <li class="text-justify">૩) ડેન્ટલ ઈમ્પ્લાન્ટથી હાડકાના ઘસારાને અટકાવી શકાય છે. જડબામાં જે જગ્યાએથી દાંત નીકળી જાય છે, તે જગ્યાનું હાડકું દાંત નીકળી જવાથી નિષ્ક્રિય થઇ જાય છે અને નિયમ પ્રમાણે શરીરનો જે ભાગ નિષ્ક્રિય હોય, કોઈ કામ ન કરતો હોય તેનો કાળક્રમે ધીમે ધીમે નાશ થાય છે. દાંત કઢાવ્યા પછી જો ઈમ્પ્લાન્ટ બેસાડવામાં ન આવે તો પ્રથમ વર્ષે જ આશરે ૨૫% હાડકું સંકોચાઈ જાય છે, અને ત્યારબાદ પણ દર વર્ષે ધીમા દરે હાડકાનું સંકોચન ચાલુ જ રહે છે.ચોકઠાથી પણ હાડકાના ઘસારાને વેગ મળે છે, ઘણી વખત ચોકઠું ઢીલું પડી જવાને કારણે તે હાડકા સાથે ઘસાય છે અને ધીમેધીમે હાડકાનો  નાશ કરે છે. ઈમ્પ્લાન્ટથી દાંત અને મુળિયા બંને મુકવાના હોવાથી ચાવવાની કાર્યક્ષમતા ફરીથી મેળવી શકાય છે અને હાડકાના ઘસારાને અટકાવે છે.            
                </li>
                <li class="text-justify">૪) દાંત પડી જવાથી જડબામાં તે જગ્યા ખાલી થાય છે, આ ખાલી જગ્યાની આજુબાજુના દાંત ખાલી જગ્યા તરફ ઢળે છે અને દાંત તેની મૂળ જગ્યાથી ખસી જાય છે, આ કારણે દાંતની બત્રીસીનું સંતુલન ખોરવાય છે અને તેથી જડબાની ચાવવાની કાર્ય ક્ષમતામાં ઘટાડો થાય છે ચહેરાનો દેખાવ પણ બગાડે છે. બત્રીસીનું સંતુલન ખોરવાઈ જતા જડબાના સાંધામાં પણ તકલીફ થઇ શકે છે. ડેન્ટલ ઈમ્પ્લાન્ટથી આ બધી થતી સમસ્યાઓ અટકાવી શકાય છે.
                </li>
                <li class="text-justify">૫) ડેન્ટલ ઈમ્પ્લાન્ટથી ચહેરાના સ્નાયુઓને લબડી પડતા અટકાવી શકાય છે અને અકાળે દેખાતા વૃદ્વત્વને અટકાવી શકાય છે. દાંત પડી જવાથી દાંતને કારણે ચહેરાના સ્નાયુઓને મળતો આધાર જતો રહે છે અને જડબાના હાડકાનું સંકોચન થઇ જાય છે. નાક અને હડપચી વચ્ચેનું અંતર ઘટી જાય છે. તેના કારણે મોઢાની આજુબાજુની ચામડીમાં ઊંડી કરચલીઓ પડે છે. હોઠ પાતળા અને હડપચી થોડી બહાર દેખાય છે. આ બધા કારણોસર વ્યક્તિનો દેખાવ તેની ઉમર કરતા વધારે દેખાવા લાગે છે.
                </li>
                <li class="text-justify">ડેન્ટલ ઈમ્પ્લાન્ટના આટલા બધા ફાયદાઓને કારણે તે કૃત્રિમ દાંત બેસાડવાની પદ્ધતિ તરીકે અત્યારે ખુબ જ લોકપ્રિય થઇ રહ્યું છે. વધારેને વધારે લોકો ઈમ્પ્લાન્ટને પસંદ કરી રહ્યા છે.
                </li>
              </ul>
            </div>
        </div>
    </div>
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}