{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- animation section -->
<div id="slider" class="section main_slider">
    <div class="container-fuild">
    <div class="row">
       <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
            <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/doctor_1.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Dental Service" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/doctor_1.jpg' %}"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            </li>

            <li data-index="rs-181" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/IMG_5868.jpg'%}"  data-rotate="0"  data-saveperformance="off"  data-title="Cosmetic Dentistry" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/IMG_5868.jpg'%}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            </li>

            <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/doctor_3.jpg'%}"  data-rotate="0"  data-saveperformance="off"  data-title="Common Dental Problem" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/doctor_3.jpg'%}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
           </li>
        </ul>
        <div class="tp-static-layers"></div>
    </div>
    </div>
    </div>
</div>
</div>    
<!-- end animation section -->

<!-- appointment section -->
<div class="section padding_layout_1">
    <div class="container">
    <!--apponitment section-->
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="full">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main_heading text_align_center">
                  <h2>Make  Appointment</h2>
                </div>
                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 appointment_form">
                <script type="text/javascript">
                function onSubmitButton(){
                  document.getElementById('submitButtonDiv').style.display = "none";
                  document.getElementById('progressBar').style.display = "block";
                  return false;
                }
                </script>
            <div class="form_section">
                <!-- <form class="form_contant" action="index.html"> -->
                <form action="#" method="post" class="form_contact" >
                  {%csrf_token%}
                <!-- {{ form }} -->
                <fieldset>
                <div id="submitButtonDiv" class="row">
                    <div class="field col-lg-4 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Your name" type="text" name="name" required />
                    </div>
                    <div class="field col-lg-4 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Phone number" type="text" name="phone" required />
                    </div>
                    <div class="field col-lg-4 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Village/City" type="text" name="city" required />
                    </div>
                    <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <textarea class="field_custom" placeholder="Problems" name="Problem" required ></textarea>
                    </div>
                    <div class="center">
                      <button type="submit" class="btn main_bt">SUBMIT NOW</button>
                    </div>
                </div>
                <div id="progressBar" style="display:none" class="col-lg-6 mx-auto shadow p-5 text-center">
                    <i class="fa fa-thumbs-up fa-4x text-success text-center"></i>
                    <h4 class="mt-3">Thank You! <br/> Your Appointment submited.</h4>
                </div>
                </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--end apponitment section-->
<!-- service section-->
    <br/><br/>
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Our Dental Service</h2>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/replace_teeth.jpg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Replacing Missing Teeth</h3>
            <p> </p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'replace' %}">View Details</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/dental_implants.jpg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Dental Implant (ડેન્ટલ ઈમ્પ્લાન્ટ) <br/>ગુમાવેલા દાંત ફરીથી બેસાડવા માટેનો શ્રેષ્ઠ ઉપાય</h3>
            <p></p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'implants' %}">View Details</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/root_canal.jpeg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Root Canal Treatment (રુટ કેનાલ) <br/> રુટ કેનાલ ની સારવાર </h3>
            <p></p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'canal' %}">View Details</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/wisdom_teeth.jpg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Wisdom Teeth (ડહાપણ દાઢ) <br/>ડહાપણ દાઢની તકલીફ</h3>
            <p></p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'wisdom' %}">View Details</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/ortho_dontia.jpg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Orthodontia (ઓર્થોડોન્સિયા)<br/>વાંકાચૂકા, આગળ પડતા અવ્યવસ્થિત ગોઠવાયેલા દાંત</h3>
            <p></p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'orthodontia' %}">View Details</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service_blog margin_bottom_50">
        <div class="full">
          <div class="service_img"> <img class="img-responsive" src="{% static 'images/it_service/broken_teeth.jpeg' %}" alt="#" /> </div>
          <div class="service_cont">
            <h3 class="service_head">Fixed Broken Teeth & Cavities</h3>
            <p></p>
            <div class="bt_cont"> <a class="btn sqaure_bt" href="{% url 'cavities' %}">View Details</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end service section-->
</div>
</div>


<!-- menu js -->
<script src="{% static 'js/menumaker.js'%}"></script>
<!-- wow animation -->
<script src="{% static 'js/wow.js'%}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js'%}"></script>
<!-- revolution js files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
<!-- map js -->
{% endblock %}

