{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div id="slider" class="section main_slider">
    <div class="container-fuild">
    <div class="row">
       <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
            <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/firepipe.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Computer Services" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/firefighter.jpg' %}"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-1012" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-912" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-112" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1000" 
                              data-splitin="chars" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              data-elementdelay="0.05" 
                              style="z-index: 6; white-space: nowrap;">Central Institute of Fire & Safety Engineering</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-412" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7; white-space: nowrap;">ISO:9001-2015 CERTIFIED</div>
            </li>

            <li data-index="rs-181" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/FastSave.jpg'%}"  data-rotate="0"  data-saveperformance="off"  data-title="Easy To Use & Customize" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/FastSave.jpg'%}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-101" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-91" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-11" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1000" 
                              data-splitin="chars" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              data-elementdelay="0.05" 
                              style="z-index: 6; white-space: nowrap;">We Learn To Save</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-41" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7; white-space: nowrap;">Fire - Safety</div>
            </li>

            <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/FastSave(1).jpg'%}"  data-rotate="0"  data-saveperformance="off"  data-title="Perfectly Responsive" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/FastSave(1).jpg'%}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-10" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-9" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-1" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1000" 
                              data-splitin="chars" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              data-elementdelay="0.05" 
                              style="z-index: 6; white-space: nowrap;">Keep Calm and Fire Safety On</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-4" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7; white-space: nowrap;">ISO:9001-2015 CERTIFIED</div>
            </li>
            <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'images/it_service/FastSave(2).jpg'%}"  data-rotate="0"  data-saveperformance="off"  data-title="Perfectly Responsive" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/it_service/FastSave(2).jpg'%}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-10" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-9" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-1" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1000" 
                              data-splitin="chars" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              data-elementdelay="0.05" 
                              style="z-index: 6; white-space: nowrap;">Keep Calm and Fire Safety On</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-4" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7; white-space: nowrap;">ISO:9001-2015 CERTIFIED</div>
            </li>


        </ul>
        <div class="tp-static-layers"></div>
    </div>
    </div>
    </div>
</div>
</div>    
<!-- end section -->


<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
        <!-- section A-->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="{% static 'images/it_service/si3.png'%}" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Best Fire Institute</h4>
                <p><b>CIFSE</b> Is Best Fire Institute Situated In India Provided Good Result And placement Guarantee</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="{% static 'images/it_service/training1.png'%}" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Our Courses</h4>
                <p><b>CIFSE</b> Provided Different Types Of Fire,Safety & Environmental Engineering Courses</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="{% static 'images/it_service/docs2.png'%}" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Admission Process</h4>
                <p>The Admission Procedure In <b>CIFSE</b> Is Very Easy And Simple Just Fill The Form & Apply</p>
              </div>
            </div>
        <!-- end section A-->

        <!--section intro-->
        <div class="row about_blog">
            <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
              <center><mark><h2>Welcome to Central Institute of Fire & Safety Engineering</h2></mark></center>
              <ul>
                <li class="text-justify"><b>Central Institute of Fire & Safety Engineering</b> has been founded to
                produce skilled and trained professionals in the field of engineering and safety.
                Since last two years,<br/>
                We have seen tremendous progress in the field of fire services & growth in fire technology development in entire India.<br/>Different type of industries, commerce, building, infrastructure etc. brings the necessity to
                efficiently and effectively channelize the manpower of the country. Fire, Safety,
                Health and Environment are prime issues and implied concerns for this new
                breed. This is the reason which places a premium on well trained young men and
                women possessing superior sills in these areas. It is to impart this relevant
                4 education to the young men and women that the specialized educational
                _ programs are being offered by <b>CIFSE</b>.<br/>The educational programs are being
                offered by <b>CIFSE</b> are based on contemporary theory and practice to provide
                strong conceptual foundations to those aspiring rewarding careers and high
                position jobs in these new fields. <b>CIFSE</b>'s track record of excellence is impeccable.<br/>
                The current requirements of Fire, Safety and Security education are
                shaped by the New World industrial order, economic, technological and legal
                factors.<br/><b>CIFSE</b> is a professional Institute that seeks to better society by developing
                leaders in the world of practical affairs. <br/>We create and deliver education and
                research to advance knowledge and practice of business community. <br/>Our goal is
                to become National and then an International leader in the chosen field of
                education widely recognized by the business and academic communities for our -
                Action-Oriented students who take an enterprise perspective and leads with
                determination, vision, judgment, integrity, and social responsibility. Outstanding
                student-centered teaching that results from faculty working together and being
                committed to the development of the students as the individual. <br/>Integrated,
                innovative and modular curriculum attuned to the lifelong learning needs of the
                current and future enterprises. Supportive and equitable learning climate
                characterized by engagement with the issues of diversity. </li>
              </ul>
            </div>
            </div>
        </div>
        <!--end section intro-->
    </div>

    <!--section B-->
    <div class="row" style="margin-top: 35px">
        <div class="col-md-12">
        <div class="full margin_bottom_30">
            <div class="accordion border_circle">
            <div class="bs-example">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-bar-chart" aria-hidden="true"></i> Vision<i class="fa fa-angle-down"></i></a> </p>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>To create awareness of “The quality of life
                              protection” through fire safety training programs.</p><br/>
                              <p>To induce lifelong learning knowledge skills,for social and personal development.</p>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-plane"></i> Mission<i class="fa fa-angle-down"></i></a> </p>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>To establish as India's premier Institute of Fire &
                            Safety Engineering.</p><br/><p>To pursue for attending and
                            imparting the highest standard of teaching and training 
                            in the field of Fire & Safety Engineering.</p>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-star"></i>Scope<i class="fa fa-angle-down"></i></a> </p>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>To contents of the course are specially designed and will be of great
                            interest to this who wish to take up Fire Safety professional as a career, also
                            those whose experience is confined to a specific field of safety and who wish to
                            broaden their understanding of the industry and all new entrants to the field</p>
                        </div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-bar-chart"></i>Features<i class="fa fa-angle-down"></i></a> </p>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>1. Highly qualified, skilled and experienced staff having practical fire fighting knowledge.</p><br/>
                            <p>2. Regular exposure of students to various equipment's and appliances associated with fire.</p><br/>
                            <p>3. Vast and varied practical curriculum.</p><br/>
                            <p>4. Regular Technical visits to industries, organizations and places involving high fire risks in order to encourage and build-up the student’s fire fighting courageous knowledge.</p><br/>
                            <p>5. Practical attachment training in leading organizations.
                            <p>6. Fresh, friendly, energetic and interlinking environment between the staff and students.</p><br/>
                        </div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-plane"></i>Objective<i class="fa fa-angle-down"></i></a> </p>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>1. To develop high academic standards and quality of education for its programs so as to extend limitations beyond traditional classroom situations.</p><br/>
                          <p>2. To create through effective education, training and research, a renewable talent bank in varied disciplines.</p><br/>
                          <p>3. To assist in development of new methods and process of fire engineering services, skills and analytical techniques.</p><br/>
                          <p>4. To develop managerial/leadership abilities and analytical skills, training, communication with the community and interaction with government and statutory authorities.</p><br/>
                          <p>5. To promote placements in various industries / organizations.</p><br/>
                          <p>6. To create awaeness about Fire and precautions to avoid miss-happenings due to Fire.</p><br/>
                          <p>7. To expertise mankind in using machines and allied equipments more effectively during Fire, excess environmental pollution and hazards associated with them.</p><br/>
                          <p>8. To minimize loses of life and property due to Fire by producing skilled professionals who can standby firmly during calamities.</p><br/>
                          <p>9. To carve out trained professionals to fulfill the necessities of a fully fledged Safety and Environment Control Department, as this is now felt by emerging competitive environment industries and businesses.</p><br/>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!--end section B-->

    <!-- get in touch section-->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contant_form">
            <center><h3>GET IN TOUCH</h3></center>
            <p>If you have any inquiry lets talk to us in more detail.</p>
            <script type="text/javascript">
            function onSubmitButton(){
              document.getElementById('submitButtonDiv').style.display = "none";
              document.getElementById('progressBar').style.display = "block";
              return false;
            }
            </script>
            <div class="form_section">
                <!-- <form class="form_contant" action="index.html"> -->
                <form action="" method="post" class="form_contact" >
                  {%csrf_token%}
                  <!-- {{ form }} -->
                  <fieldset>
                  <div id="submitButtonDiv" class="row">
                    <div class="field col-lg-12 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Your name" type="text" name="name" required id="username" onkeyup=""/>
                    </div>
                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Email adress" type="email" name="email_id" required />
                    </div>
                    <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <input class="field_custom" placeholder="Phone number" type="text" name="phone" required />
                    </div>
                    <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <textarea class="field_custom" placeholder="Messager" name="messager" required ></textarea>
                    </div>
                    <div class="center" >
                    <button id="cont_submit_now" type="submit" class="btn btn-success" onkeypress="displaythankyou()">SUBMIT NOW</button>
                  </div>
                  </div>
                  <!-- <a class="btn main_bt" href="#">SUBMIT NOW</a> -->
                  <div id="progressBar" style="display:none" class="col-lg-6 mx-auto shadow p-5 text-center">
                    <i class="fa fa-thumbs-up fa-4x text-success text-center"></i>
                    <h4 class="mt-3">Thank You! <br/> Your Message submited.</h4>
                  </div>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end get in touch section-->

    <!--section director -->
    <div class="section padding_layout_1 service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="full">
                <div class="main_heading text_align_left">
                    <h2><center>EXECUTIVE DIRECTORS</center></h2>
                    <p class="large">Youth Fire Stop is a program designed to prevent misuse of fire by youth in our community and to educate and intervene when endangerment involving fire occurs. Youth Fire Stop has been streamlined in order to make the program more effective.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-1.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>R I Patel</h4>
                    <p>(Ret. Secretory Secondary And Higher Secondary School,Gujarat State)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-2.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>MOD RAVIDAN G</h4>
                    <p>(Ret. General Manager GIDC)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-3.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>DR. R K Patel</h4>
                    <p>(Ret. Deputy Director Higher Education Gujarat State)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-3.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>DR. A K Rathod</h4>
                    <p>(Ret. Deputy Director Secondary Education Gujarat State)</p>
                </div>
            </div>
            </div>
        </div>

    </div>
    </div>
<!--end section director -->

</div>
</div>
<!-- end section -->



<!-- menu js -->
<script src="{% static 'js/menumaker.js'%}"></script>
<!-- wow animation -->
<script src="{% static 'js/wow.js'%}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js'%}"></script>
<!-- revolution js files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
<!-- map js -->
{% endblock %}

