<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
{% load static %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Fire Intelligence Squad pvt.ltd.</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icons -->
<link rel="icon" href="{% static 'images/fevicon/IMG_20210218_211157.jpg' %}" type="image/gif" />
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<!-- Site css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
<!-- colors css -->
<link rel="stylesheet" href="{% static 'css/colors1.css' %}" />
<!-- custom css -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
<!-- wow Animation css -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body id="default_theme" class="it_service about">
<!-- loader -->
<!-- <div class="bg_load"> <img class="loader_animation" src="{% static 'images/loaders/loader_1.png' %}" alt="#" /> </div> -->
<div class="bg_load"> </div>
<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
             <!--  <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <div class="make_appo"> <a class="btn white_btn" href="/appointment">Make Appointment</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="/home"><img src="{% static 'images/logos/LOGO.jpg' %}" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a href="/home">Home</a>
                  <ul>
                    <li><a href="/home">CISF Home Page</a></li>
                    <li><a href="/home_dark">CISF Dark Home Page</a></li>
                  </ul>
                </li>
                <li><a class="active" href="/about">About Us</a></li>
                <!-- <li> <a href="/service">Service</a> -->
                <li> <a href="/products">Products</a>
                  <!-- <ul>
                    <li><a href="/service_list">Services list</a></li>
                    <li><a href="/service_detail">Services Detail</a></li>
                  </ul> -->
                </li>
             
                <li> <a href="{% url 'contactusview' %}">Contact</a>
                </li>
                {% if request.user.is_authenticated %}
                <li> <a href="{% url 'user_details' %}">User Details</a>
                </li>
                {% else %}
                <li><a href="{% url 'loginform' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
            <!-- <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div> -->
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">About Us</h1>
              <ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 it_service_policy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Welcome to Fire Intelligence Squad Pvt.Ltd</h2>
            <p class="large">Following The Path Of Bravery</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <h4>About Us</h4>
              <p>
                <font style="color: rgb(99,99,99); font-size: 16px;">
                  "We have indeed Great Pleasure in Introducing Ourselves as one of the most leading Oragnization of the Capstioned System. Strigent Quality Standard Followed in all stage of project from concept of commisioning and no compromise work culture as rewarded us with the confidence of delighted corporate customers,multistory buildings,industrial house,banks,commerical complexes adn star hotels and hospitals etc.. for the following sysytems along with its maintenance"
                </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>A. Fire Extinguishers</h4>
              <p>
                <font style="color: rgb(99,99,99); font-size: 16px;">
                "Complete range of ISI marked.Kanex make fire extinguishers,an ISO: 9001 & ISO 14001 based Company"
              </font>
            </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>B. Fire Detection System & B.M.S (Building Management System)</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Conventional Automatic/Manual Fire Detection System"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Intelligent analouge addresseable Fire Detection System"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Complete B.M.S (Building Management System)"
              </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>C. Water Based Fire Fighting System</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Wet raiser/down comer hydrunt system"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Sprinkler System"
              </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>D. Gas Based Fire Suppression System</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "CO2 total flooding System."
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "FM-200/FE227/NAFS ||| Total Flooding System"
              </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>E. Passive Fire Protection System</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Cable Coating"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Cable fire barrier"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Fire/Smoke Check Door"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Fire Proof Doors"
              </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>F. Security System</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Stand-alone/on line access control system"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "CCTV surveillance system"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Alarm System"
              </font></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>G. Turnkey Projects</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="full">
              <h4>H. Labour Contract</h4>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Fireman, Fire-Supervisor, Fire Officer"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "Safety Supervisor,Safety Officer"
              </font></p>
              <p><font style="color: rgb(99,99,99); font-size: 16px;">
                "That's all are candiate who eligible for technical employment in your company"
              </font></p>
            </div>
          </div>
        </div>
      </div>

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>We are Leading Company</h2>
            <p class="large">Fastest service with Quality!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
          <h4><center><u>Vision</u></center></h4> 
          <ul>
            <li><i class="fa fa-check-circle"></i>To Become An International Player in Our Line of Bussiness Backed By State of Art Technology And Quality Product Leveraging On Our Human Resource...</li>
          </ul>
        </div>
        <div class="full text_align_left">  
          <h4><center><u>Mission</u></center></h4>
          <ul>
            <li><i class="fa fa-check-circle"></i>TO safeguard the quakity of life for the citizens through fire prevention and protection</li>
            <li><i class="fa fa-check-circle"></i>TO sensitize authoriies and public at large about the risks of fire by harnessing mass media </li>
            <li><i class="fa fa-check-circle"></i>To advocate compliance of fire safety & building codes and measures for life safe occupancy of public and privet permises through social and judicial activism</li>
            <li><i class="fa fa-check-circle"></i>To create mass awerness through educations,holding seminars,exhibitions,fire drills etc </li>
            <li><i class="fa fa-check-circle"></i>"To COMBINE AGGRESIVE STRATEGIC MARKETING WITH QUALITY PRODUCTS AT COMPETITIVE PRICE TO PROVIDE THE "BEST VALUE FOR MONEY" FOR OUR CLIENTELE"</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
        <div class="full text_align_center"> <img class="img-responsive" src="{% static '/images/logos/LOGO.jpg' %}" alt="#" /> </div>
      </div>
    </div>
    <div class="row" style="margin-top: 35px">
      <div class="col-md-8">
        <div class="full margin_bottom_30">
          <div class="accordion border_circle">
            <div class="bs-example">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-bar-chart" aria-hidden="true"></i> Quality Policy<i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>We Are Commited To Provide The Best Quality Product As Quality As Always Been The Prime Concern At FIS. We Ensure Maximum Customer Satisfaction by Providing "Value For Money" And By Adhering To Quality Standard in The Technologies,Products And Services That We Deliver. FIS ensures That Our Personnel Are Properly Trained So That They Are Better Able To Serve Our Customers And Continully Moniter And Improved Customers Total Experience with Clear Focus On Best Quality And Customers,In Line With Our Mission Objectives.</p>
                      <p>We Shall Achieve This by Effectively Implementing Our Management System As Per ISO 9001:2015 Standard.s</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-plane"></i>     <i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it 
                        over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-star"></i> <i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it 
                        over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-bar-chart" aria-hidden="true"></i>    <i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it 
                        over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="full" style="margin-top: 35px;">
          <h3>Need file recovery?</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et 
            quasi architecto beatae vitae dicta sunt explicabo..</p>
          <p><a class="btn main_bt" href="#">Read More</a></p>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->

<!-- end section -->

<!-- section -->
<div class="section padding_layout_1 testmonial_section white_fonts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2 style="text-transform: none;">Company Value And Our Motto </h2>
            <!-- <p class="large">Here are testimonials from clients..</p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="full">
          <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
              <li data-target="#testimonial_slider" data-slide-to="1"></li>
              <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="testimonial-container">
                  <div class="testimonial-content">Fire Intelligence Squad pvt.Ltd</div>
                  <div class="testimonial-photo"> <img src="{% static 'images/it_service/quality3.jpg' %}" class="img-responsive" alt="#" width="150" height="150"> </div>
                  <div class="testimonial-meta">
                    <h4>Our Oraganization Offering Quality Products Carind For Customers To Provide "Safety"</h4>
                    <span class="testimonial-position">Our Motto is "Following The Path OF Bravery"</span> </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="full"> </div>
      <span style="display:inline-block;margin-left:200px">____</span>  
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->

<!-- end section -->
<!-- section -->

<!-- end section -->
<!-- Modal -->
<span> </span>
</span>
<div class="modal fade" id="search_bar" role="dialog">
<span style="display:inline-block;margin-left:200px">________</span>

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
            <div class="navbar-search">
              <form action="#" method="get" id="search-global-form" class="search-global">
                <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" value="" class="search-global__input">
                <button class="search-global__btn"><i class="fa fa-search"></i></button>
                <div class="search-global__note">Begin typing your search above and press return to search.</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Model search bar -->
<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="footer_blog">
        <div class="row">
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Rajkot Branch</h2>
            </div>
            <!-- <h2>Rajkot Branch</h2> -->
            <p>Sandi Pani School<br>
            1/3 Udaynagar,Indraprastha Hall,<br>
            Nr.Mavdi Chowkdi,150 Feet Ring Road,<br>
            Rajkot-360004</p><br>
            <p>Sanjay Parmar<br>Mo.+91 63533 69661 <br>Email: fisindia101@gmail.com</p>
          </div>  
          <div class="col-md-6">  
            <div class="main-heading left_text">
              <h2>Ahemdabad Branch</h2>
            </div>
            <!-- <h2>Ahemdabad Branch</h2> -->
            <p>Shop No,121<br>
            Apex Complex,kudasan<br>
            Near Hotel Hill City,
            Gadhinagar</p>
            <p>Siddharth Dodiya<br>Mo.+91 95740 31178<br>Mo.+91 95740 31178<br>Email: fisindia101@gmail.com<br>Email: cifsevrl101@gmail.com</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Additional links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="/chat/contact_view"><i class="fa fa-angle-right"></i> Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Gandhinagar Branch</h2>
            </div>
            <p>Shop No.201,<br>
              Pramukh Cyprus<br>
              Opp Ashka Hospital, Gadhinagar<br>
              <span style="font-size:18px;"><a href="tel:+91 95740 31178">+91 95740 31178</a></span></p>
            <div class="footer_mail-section">
              <form>
                <fieldset>
                <div class="field">
                  <input placeholder="Email" type="text">
                  <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="cprt">
        <p>CISF © Copyrights 2021 Design by shivtech</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- js section -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- menu js -->
<script src="{% static 'js/menumaker.js' %}"></script>
<!-- wow animation -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
