{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="full">
              <div class="main_heading text_align_center">
                <h2 style="color:#039ee3">અવ્યવસ્થિત ગોઠવાયેલા દાંત</h2>
                <h3 style="color:#039ee3">(Orthodontia)</h3>
              </div>
            </div>
          </div>
        </div>
    <div class="row about_blog">
        <!-- section start-->
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
              <h3>વાંકાચૂકા, આગળ પડતા અવ્યવસ્થિત ગોઠવાયેલા દાંત</h3>
               <ul>
                <li class="text-justify"> <i class="fa fa-check-circle"></i>સફેદ, સુંદર અને વ્યવસ્થિત પંક્તિમાં ગોઠવાયેલા દાંત, મોહક સ્મિત દરેક વ્યક્તિ ઈચ્છતી હોય છે, પરંતુ કુદરતી રીતે બહુ જ ઓછા માણસો આદર્શ, તંદુરસ્ત દંતપંક્તિ તેમજ મોહક સ્મિત ધરાવે છે, બાકીનાઓ  માટે તે સ્વપન  જ રહે છે.</li>
                <li class="text-justify"> <i class="fa fa-check-circle"></i> આડાઅવળા, વાંકાચૂકા, આગળ પડતા દાંતની અવ્યવસ્થિત ગોઠવણી સમગ્ર વ્યક્તિત્વની સુંદરતાને ઓછી કરે છે. તો ચાલો જાણીએ દાંતની આડીઅવળી ગોઠવણી કેટલા પ્રકારની હોય છે, તે કયા કારણોસર થાય છે, તેને કારણે શું શું તકલીફ પડે છે, તેની સારવારના શું વિકલ્પો છે, સારવાર ન કરાવવાથી શું શું નુકશાન થઇ શકે અને સારવાર કરાવવાથી શું ફાયદાઓ છે, તેમજ સારવાર દરમિયાન શું શું કાળજી લેવી પડે.</li>
              </ul>
            </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <center><div> <img class="img-responsive" src="{% static 'images/it_service/ortho_dontia.jpg' %}" alt="#" /> </div></center>
      </div>
      <!-- section end -->
      <!-- section start-->
      <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <ul>
            <li>દાંત જડબામાં અવ્યવસ્થિત રીતે ગોઠવાયેલા હોય જેમ કે જરૂર કરતા દાંત આગળ હોવા, પાછળ હોવા, દાંત દોઢે ચડેલા હોય, દાંત લાંબા લગતા હોય, વધારે પડતા બહાર નીકળેલા હોય અને તેને કારણે હોઠ બરાબર બંધ ન થતા હોય, પાછળની દાઢો આડી અવળી હોય જેથી બરાબર ચાવી શકાતું ન હોય, દાંત ગીચોગીચ ગોઠવાયેલા હોય, અથવા દાંત વચ્ચે ખરાબ લાગે તે રીતે વધારે જગ્યા હોય, દાંત ભેગા કરતા દાંતની આગળ જગ્યા રહેતી હોય, તે આ દાંતની અવ્યવસ્થિત સ્થિતિને માલઓક્લુઝન રોગ કહેવાય.</li>
          </ul>
          <ul>
            <li>ઉત્ક્રાંતિને કારણે તેમજ મનુષ્યની ખોરાક પધ્ધતિમાં ફેરફાર થવાને કારણે પેઢી દર પેઢી જડબા નાના થતા જાય છે, પરંતુ દાંતની સાઈઝમાં ફેરફાર ન થતો હોવાથી આજના મનુષ્યના જડબામાં ૩૨ દાંત બરાબર ગોઠવાઈ શકતા ન હોવાથી દાંત આડાઅવળા રહે છે. મોટાભાગના કિસ્સામાં વાંકાચૂકા દાંતનું કારણ વારસાગત હોય છે, જે બાળકને તેને માતાપિતા દ્રારા મળે છે, આ સિવાય અમુક કુટેવો જેવીકે મોઢામાં અંગુઠો કે આંગળા ચૂસવા, બોલતી વખતે જીભથી આગળના દાંત પર દબાણ આપવું, મોઢાથી શ્વાસ લેવો જેવા કારણોથી પણ દાંત વાંકાચૂકા થાય છે. સડાને કારણે દુધિયા દાંત તેના સમય કરતા વહેલા પડી જાય અથવા પડાવેલા હોય, નાની ઉંમર કાયમી દાઢો સડાને કારણે કઢાવી નાખેલ હોય તો, દાંત વાંકાચૂકા થવાની શક્યતા વધી જાય છે. જન્મથી જ જો જડબા ખોડખાપણવાળા હોય તો પણ દાંત વાંકાચૂકા રહે છે.</li>
          </ul>
           <ul>
            <li>હવે આપણે એ જાણીશું કે દાંત વાંકાચૂકા હોય તો શું તકલીફ પડી શકે. અમેરિકન ડેન્ટલ એસોસીએસનના સર્વેક્ષણ મુજબ સરસ દંતપંક્તિવાળા અને સારું સ્મિત ધરાવતા વ્યક્તિઓ, વાંકાચૂકા ખરાબ દેખાતા દાંતવાળી  વ્યક્તિઓ કરતા વધારે આત્મવિશ્વાસ ધરાવે છે અને દરેક ક્ષેત્રમાં આગળ રહે છે. વાંકાચૂકા દાંતની ગોઠવણીને કારણે કેટલીક વ્યક્તિઓ માનસિક તનાવ અનુભવે છે, ખાસ કરીને ઉંમરલાયક સ્ત્રીઓ તેમજ યુવાનો અને તેને કારણે ઘણીવાર દર્દીનો સ્વભાવ અંતમૂર્ખી બની જાય છે. વાંકાચૂકા દાંત પર વ્યવસ્થિત બ્રશિંગ ન થવાને કારણે દાંતની વચ્ચે ખોરાક ભરાય છે, જેનાથી લાંબા સમયે દાંતનો સડો અને પાયોરિયા જેવી પેઢાની તકલીફ થવાની શક્યતા વધી જાય છે. દાંત વાંકાચૂકા હોવાને કારણે ઘણીવાર ઉપરના અને નીચેના દાંત બરાબર ભેગા ન થવાથી ચાવવામાં પણ તકલીફ પડે છે. દાંત વધારે પડતા આગળ હોવાથી તેમને ઇજા થવાની શક્યતા વધી જાય છે.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <center><div> <img class="img-responsive" src="{% static 'images/it_service/ortho_dontia_2.jpg' %}" alt="#" /> </div></center>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
            <h3>સારવાર</h3>
               <ul>
                <li class="text-justify"> એક એવી ખોટી માન્યતા છે કે વાંકાચૂકા દાંતની સારવાર બધા કાયમી દાંત આવી જાય પછી જ કરવી જોઈએ. વાંકાચૂકા દાંતની તકલીફનો ખ્યાલ આવતા જ તેની તબીબી તપાસ કરાવવી જોઈએ, જેથી તેની સારવારનું યોગ્ય આયોજન કરી શકાય. નાની ઉંમરે સારવાર થવાથી બાળકના દેખાવ સુધારી શકાય છે તેમજ સારવારમાં સમય ઓછો લાગે છે અને મહતમ સારું પરિણામ મળે છે. વાંકાચૂકા દાંત સીધા કરવાની સારવાર મોટી ઉંમરે પણ થાય છે. વાંકાચૂકા દાંતની સારવાર બે રીતે થઈ શકે. ઓછી તકલીફવાળા દર્દીમાં નીકળી શકે તેવી પ્લેટથી દાંત સીધા કરી શકાય છે. વધારે વાંકાચૂકા દાંતને સરખા કરવા માટે વાયરીંગ(બ્રેસીસ,રીંગ) દાંત પર લગાવવા પડે. સામાન્ય રીતે વાંકાચૂકા દાંત સીધા કરવાની સારવાર એક થી બે વર્ષનો સમય લે છે.</li>
              </ul>
        </div>
        <div class="full text_align_left" >
          <h3>યાદ રાખો.</h3>
          <ul>
            <li>પોતાના બાળકોના દાંત વાંકાચૂકા ન થાય તે માટે કેટલાક મુદ્દા ધ્યાનમાં રાખો. જેમકે બાળકને દાંત સમયસર આવે છે કે નહી તેનું ધ્યાન રાખવું. બાળકમાં કોઈ કુટેવ ખાસ કરીને અંગુઠો કે આંગળા મોઢામાં ચૂસવા જેવી હોય તો તુરંત જ છોડાવો. કાયમી તેમજ દુધિયા દાંત સડે નહી તેનું ધ્યાન રાખો, જો સડો હોય તો તેની સારવાર કરાવી શકય હોય ત્યાં સુધી તેને બચાવો. દાંત વાંકાચૂકા આવે છે તેનો ખ્યાલ આવતા જ તમારા દાંતના ડોક્ટરને મળો. દર છ મહીને ડેન્ટીસ્ટ પાસે બાળકનું રૂટીન ચેક અપ કરાવો.</li>
          </ul>
        </div>
      </div>
      <!-- section end -->
    </div>

    
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}