{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="section padding_layout_1">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="main_heading text_align_center">
                <h2>Our Photo Gallary</h2>
              </div>
            </div>
          </div>
        </div>
      <div class="row about_blog">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
            <div class="full text_align_center"> <img class="img-responsive" src="images/photo_gallary/photo1.jpg" alt="#" /> </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
            <div class="full text_align_center"> <img class="img-responsive" src="images/photo_gallary/photo2.jpg" alt="#" /> </div>
          </div>
        </div>


      </div>
    </div>
  </div>

    <!--section director -->
    <div class="section padding_layout_1 service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="full">
                <div class="main_heading text_align_left">
                    <h2><center>EXECUTIVE DIRECTORS</center></h2>
                    <p class="large">Youth Fire Stop is a program designed to prevent misuse of fire by youth in our community and to educate and intervene when endangerment involving fire occurs. Youth Fire Stop has been streamlined in order to make the program more effective.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-1.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>R I Patel</h4>
                    <p>(Ret. Secretory Secondary And Higher Secondary School,Gujarat State)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-2.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>MOD RAVIDAN G</h4>
                    <p>(Ret. General Manager GIDC)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-3.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>DR. R K Patel</h4>
                    <p>(Ret. Deputy Director Higher Education Gujarat State)</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="full team_blog_colum">
                <div class="it_team_img"> <img class="img-responsive" src="images/it_service/team-member-3.jpg" alt="#"> </div>
                <div class="team_feature_head">
                    <h4>DR. A K Rathod</h4>
                    <p>(Ret. Deputy Director Secondary Education Gujarat State)</p>
                </div>
            </div>
            </div>
        </div>

    </div>
    </div>
<!--end section director -->

</div>
</div>


{% endblock %}

