{% extends 'base.html' %}
{% block content %}
{% load static %}


<!--section data-->
  <div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>કેપ,કવર,ટોપી</h2>
            <h3>Dental Crown</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
      <div class="col-lg-12 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
          <h3>દાંત નો સડો શું છે? <br/>જાણો તેના લક્ષણો વિશે અને તેનાથી બચવાના ઉપાયો </h3>
        </div>
      </div>
       <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
        <center><div> <img class="img-responsive" src="{% static 'images/it_service/રચના.jpg' %}" alt="#" /> </div></center>
    </div>
   
    <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
    <div class="full text_align_left">
      <h4>દાંતનો સડો</h4>
      <ul>
        <li class="text-justify"> દાંતનો સડો એ શરદી પછી થતો સૌથી સામાન્ય રોગ છે. દાંતનો સડોએ મોઢામાં થતો મુખ્ય રોગ છે, જે દાંતના બહારી મજબુત પડ એવા ઈનેમલને ઓગાળીને દાંતને કાયમી નુકશાન પહોચાડે છે. જો તેની યોગ્ય સારવાર સમયસર ન થાય તો બાળ અથવા યુવાન વયે દાંત ગુમાવવાનું સૌથી મોટું કારણ બને છે.</li>
      </ul>
    </div>
     <div class="full text_align_left">
      <h4>દાંતનો સડો એટલે શું ?</h4>
      <ul>
        <li class="text-justify">દાંતની કોઈ સપાટીએ દાંતનું ખનીજ બંધારણ ઓગળી જતા પડેલા ખાડાને દાંતનો સડો કહેવાય. સફેદ કલરના દાંતમાં દાંતનો સડો કાળા કે બ્રાઉન કલરના ખાડા રૂપે દેખાય છે. શરૂઆતના તબક્કામાં દાંતનો સડો માત્ર ટપકા કે પાતળી  લાઈન જેટલો  હોય છે. બે દાંતની વચ્ચેની સપાટીએથી જો સડો હોય તો એવું પણ બને કે સડો દેખાય જ નહિ, અને તેવા સડાની તપાસ માત્ર એક્ષ-રે દ્વારા જ કરી શકાય છે.</li>
         <li class="text-justify">દાંતનો સડો કોઈ પણ ઉંમરની  વ્યક્તિને થઇ શકે છે. નાના બાળકથી વૃદ્ધ, સ્ત્રી, પુરૂષ, ગરીબ કે તવંગર, દાંતનો સડો કોઈ ભેદભાવ રાખતો નથી.</li>
      </ul>
    </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-12 about_cont_blog">
        <div> <img class="img-responsive" src="{% static 'images/it_service/સડો.jpg' %}" alt="#" /> </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>દાંતના સડાના લક્ષણો</h3>
          <ul>
            <li>દાંતના  સડાના શરૂઆતના તબક્કામાં કોઈ પણ જાતનો દુખાવો થતો નથી. ચિત્રમાં  બતાવ્યા પ્રમાણે જયારે દાંતનો સડો ઇનેમલ અને ડેન્ટીનને ખોતરી પલ્પ સુધી પહોચે ત્યારે જ દુખાવો થાય છે જે ઘણી વખત અસહ્ય અથવા કયારેક આશ્ચર્યજનક રીતે બિલકુલ  થતો નથી. દાંતમાં સડો થયેલ હોય અને જો તેમાં કોઈ જાતનો દુખાવો ન થતો હોય તો પણ તેની સારવાર કરાવવી ઇચ્છનીય છે.</li>
            <li>એક વખત દાંતમાં સડો થાય પછી જયા સુધી સારવાર દ્વારા સડાને સંપૂર્ણપણે દુર ન કરાવો ત્યાં સુધી તે કયારેય અટકતો નથી અને ધીમે ધીમે ક્રમશ: ઊંડોને ઊંડો ઉતરતો જાય છે અને દાંતના માળખાનો નાશ કરી નાખે છે. દાંત આખો સડી જાય અને છેલ્લે માત્ર તેના અવશેષરૂપ મુળીયા વધે ત્યારે તેમાં મુળીયા કઢાવ્યા સિવાય અન્ય કોઈ સારવાર શકય હોતી નથી. સાચી જાણકારી અને સમયસરની યોગ્ય સારવાર દાંત બચાવવાનો એકમાત્ર વિકલ્પ છે.</li>
            <li>જો થોડીક સાવચેતી રાખવામાં આવે અને દાંતના સડાની જરૂરી સારવાર સમયસર કરાવી લેવામાં આવે તો દાંતને વધુ સડતો અટકાવી શકાય અને દાંતને ચોક્કસપણે બચાવી શકાય.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>દાંતના સડાનું જોખમ ક્યારે વધારે હોય છે?</h3>
          <ul>
            <li> <i class="fa fa-check-circle"></i>સતત મીઠો તેમજ ચીકણો ખોરાક જેમકે ચોકલેટ, ગોળ, આઈસ્ક્રીમ.</li>
            <li> <i class="fa fa-check-circle"></i>નાના બાળકોને ઊંઘમાં પણ દૂધની બોટલ મોઢામાં આપતા હોય. આ કુટેવ ચોકલેટ કરતા પણ વધારે ખતરનાક છે, આવી ટેવને કારણે મોટા ભાગના બાળદર્દીઓના બધા જ દુધિયા દાંત સડી જાય છે, આ રોગને બોટલ બેબી સિન્ડ્રોમ  કહેવામાં આવે છે.</li>
            <li> <i class="fa fa-check-circle"></i>નિયમિત તેમજ વ્યવસ્થિત બ્રશ ન થતું હોય.</li>
            <li> <i class="fa fa-check-circle"></i>પીવાના પાણીમાં ફ્લોરાઈડની માત્રા જરૂર કરતા ઓછી હોય.</li>
            <li> <i class="fa fa-check-circle"></i>દાંતમાં ઊંડા તેમજ સાંકડા ખાડા તેમજ તિરાડો (pit and fissure) હોય, જેમાં ખોરાક ફસાઈ જતો હોય અને બ્રશ દ્વારા સરળતાથી સાફ થઇ શકતો ના હોય.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>દાંતમાં થતો સડો અટકાવવાના ઉપાયો.</h3>
          <ul>
            <li> <i class="fa fa-check-circle"></i>મીઠો તેમજ ચીકણો ખોરાક નિયંત્રિત કરો.</li>
            <li> <i class="fa fa-check-circle"></i>દરેક વખતે જમ્યા બાદ બ્રશ દ્વારા દાંતની વૈજ્ઞાનિક પદ્ધતિથી વ્યવસ્થિત સફાઈ કરવી.</li>
            <li> <i class="fa fa-check-circle"></i>ફલોરાઈડયુક્ત ટુથપેસ્ટનો ઉપયોગ કરવો.(ફેમીલી ડેન્ટીસ્ટની સલાહ લેવી.</li>
            <li> <i class="fa fa-check-circle"></i>જો દાંતમાં ઊંડા તેમજ સાંકડા ખાડા, તિરાડો હોય તો તેને દાંતના ડોક્ટર પાસે ખાસ ફ્લોએબલ કમ્પોઝીટ(પીટ એન્ડ ફીશર સીલન્ટ)થી સીલ કરાવો, જેથી દાંતમાં સડો થાય તેવું વાતાવરણ બને જ નહી. દાંતનો સડો અટકાવવાનો આ સચોટ ઉપાય છે.</li>
            <li> <i class="fa fa-check-circle"></i>વિટામીન અને ખનીજ તત્વોથી ભરપુર અને રેસાવાળો ખોરાક લો. જયારે દાંતનું નિર્માણકાર્ય થતું હોય (ગર્ભાવસ્થાથી ૧૪ વર્ષ) ત્યારે વિટામીન અને ખનીજ તત્વો (ખાસ કરીને કેલ્શીયમ) દાંતના બંધારણ ને મજબુતી આપે છે, જે દાંતના સડા સામે જીવનભર રક્ષણાત્મક ફાળો આપે છે. રેસાવાળો ખોરાક બરછટ હોવાથી દાંત સાથે ચોટતો નથી, ઉલટું અગાઉ ખાધેલા ખોરાકના અન્નકણો ને કુદરતી રીતે સાફ કરે છે અને સડો થવાની શક્યતાને દુર કરે છે.</li>
            <li> <i class="fa fa-check-circle"></i>દર છ મહિને તમારા દાંતની તબીબી તપાસ કરાવો, જેથી કોઈ દાંતમાં સડાના પ્રાથમિક ચિહ્નો ધ્યાનમાં આવે તો તેને યોગ્ય સારવાર દ્વારા ત્યાજ અટકાવી શકાય અને વધુ નુકશાન નિવારી શકાય.</li>
          </ul>
        </div>
      </div>
       <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>દાંતના સડાની સારવાર</h3>
          <ul>
            <li>દાંતનો સડો દાંતમાં કેટલો ઊંડો છે, એટલે કે સડો કયા તબક્કામાં છે, તેના પ્રમાણે તેની સારવાર થાય છે. જો દાંતનો સડો ઈનેમલ કે ડેન્ટીન સુધી જ મર્યાદિત રહેલ હોય અને પલ્પ (દાંતની નસ) ને કોઈ નુકસાન થયું ન હોય તો માત્ર ફિલીંગ દ્વારા કરી શકાય છે. જો દાંતનો સડો વધારે ઊંડો હોય અને પલ્પ સુધી પહોચી જાય તો તેવા કેસમાં દાંત બચાવવા મૂળિયાની સારવાર (રૂટકેનાલ ટ્રીટમેન્ટ) જરૂરી બને છે. મોટા ભાગના કેસમાં સડેલા દાંતને યોગ્ય સારવાર દ્વારા બચાવી શકાય છે.</li>
          </ul>
        </div>
      </div>
</div>

<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}