{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2 style="color:#039ee3">રૂટ કેનાલ</h2>
            <h3 style="color:#039ee3">(Root Canal Treatment)</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
        <!--section start-->
        <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
                <h3> રૂટ કેનાલ ની સારવાર</h3>
                <ul>
                <li class="text-justify">જે લોકોના એક અથવા એક કરતા વધારે દાંત ના હોય, દાંત એટલા વધારે તૂટી કે સડી ગયેલા હોય કે તે રૂટ કેનાલ ટ્રીટમેન્ટથી બચી શકે તેમ ન હોય, તો તે લોકો ઈમ્પ્લાન્ટ કરાવી શકે. જે લોકો ઢીલા ચોકઠાં, ખાસ કરીને નીચેના ચોકઠાથી પરેશાન હોય, અડધિયા ચોકઠાં ફાવતા ના હોય તે લોકો પણ આ આધુનિક ટેકનોલોજીનો લાભ લઇ શકે છે.
                </li>
                </ul>
            </div>
            <div class="full text_align_left">
                <h4>કુદરતી દાંત – શ્રેષ્ઠ દાંત</h4>
                <ul>
                    <li class="text-justify">આદર્શ રીતે તો તમારા દાંત આજીવન તમારી સાથે રહેવા જોઈએ, પરંતુ કમનસીબે દાંતમાં સડો અથવા ઈજાને કારણે જો દાંતમાં ઇન્ફેક્શન થાય તો દાંતને બચાવવા રૂટ કેનાલ ટ્રીટમેન્ટની જરૂર પડે. પહેલાના સમયમાં આવા દુઃખતા, સડેલા દાંતને કાઢી નાખવામાં આવતા હતા, પરંતુ હવે આધુનિક સારવારની મદદથી આવા રોગગ્રસ્ત દાંતને કઢાવવાને બદલે બચાવી શકાય છે.
                    </li>
                    <li class="text-justify">તમારા કુદરતી દાંત જેવું શ્રેષ્ઠ બીજું કશું નથી. જયારે પણ સડી ગયેલ દાંતમાં ટ્રીટમેન્ટની જરૂર પડે ત્યારે તમારા કુદરતી દાંતને બચાવવો એ હમેંશા સારવારની પ્રથમ પસંદગી હોવી જોઈએ. આધુનિક બ્રિજ કે ઈમ્પ્લાન્ટ પણ તમારા કુદરતી  દાંતથી ચડિયાતા નથી.
                    </li>
                    <li class="text-justify">જો નિષ્ણાંત ડોક્ટર દ્વારા ચોક્કસાઈથી ટ્રીટમેન્ટ થયેલ હોય તો મોટાભાગના કેસમાં રૂટ કેનાલ ટ્રીટમેન્ટ  સફળ છે. ત્યારબાદ દાંતની યોગ્ય  સંભાળ લેવામાં આવે તો સારવાર કરેલ દાંત ઘણા દાયકાઓ સુધી વ્યવસ્થિત કામ આપે છે.      
                    </li>
               </ul>
            </div>
        </div>
        <!--section end-->
        <!--section start-->
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
          <h3>રૂટ કેનાલ ટ્રીટમેન્ટના ફાયદાઓ</h3>
          <ul>
            <li><i class="fa fa-check-circle"></i>ચહેરાનું સૌદર્ય જળવાય છે.</li>
            <li><i class="fa fa-check-circle"></i>જડબાના હાડકાનું બંધાણ જળવાય છે.</li>
            <li><i class="fa fa-check-circle"></i>ચાવવાની કાર્યક્ષમતામાં કોઈ ઘટાડો થતો નથી.</li>
            <li><i class="fa fa-check-circle"></i>આરામ અને તંદુરસ્તી જળવાય છે.</li>
            <li><i class="fa fa-check-circle"></i>અને આર્થિક રીતે વિચારીએ તો દાંત કઢાવીને બ્રિજ કે ઈમ્પ્લાન્ટ કરાવવા કરતા રૂટ કેનાલ ટ્રીટમેન્ટથી દાંત બચાવવો વધારે ફાયદાકારક છે.</li>
          </ul>
        </div>
        <!-- <div class="full text_align_center"> <img class="img-responsive" src="{% static 'images/it_service/root_canal.jpeg' %}" alt="#" /> </div> -->
        </div>
        <!--section end-->
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog full text_align_left">
          <h3>રૂટ કેનાલ ટ્રીટમેન્ટ ની જરૂર કયારે પડે?</h3>
          <div class="full text_align_left">
              <h5>કારણો:</h5>
              <ul>
                <li><i class="fa fa-check-circle"></i>ઊંડોસડો.</li>
                <li><i class="fa fa-check-circle"></i>દાંતનીઈજા.</li>
                <li><i class="fa fa-check-circle"></i>દાંતનો ઘસારો.</li>
              </ul>
          </div>
          <div class="full text_align_left">
              <h5>લક્ષણો:</h5>
              <ul>
                <li><i class="fa fa-check-circle"></i>ઠંડી કે ગરમ વસ્તુથી દાંત સેન્સીટીવ હોય.</li>
                <li><i class="fa fa-check-circle"></i>દાંતનો કલર બગડી જવો.</li>
                <li><i class="fa fa-check-circle"></i>દાંતની નજીક પેઢા પાસે સોજો કે દુઃખાવો.</li>
                <li><i class="fa fa-check-circle"></i>ચાવતી વખતે દાંતમાં દુઃખાવો.</li>
                <li><i class="fa fa-check-circle"></i>કયારેક કોઈ લક્ષણ ન પણ હોય.</li>
              </ul>
          </div>
          <div class="full text_align_left">
              <h5>એક્સ-રે:</h5>
              <ul>
                <li><i class="fa fa-check-circle"></i>એક્સ-રે માં સ્પષ્ટ હોય કે દાંતનો સડો નસ સુધી ઊંડો પહોચી ગયેલ હોય.</li>
              </ul>
          </div>
        </div>
        <!--section start-->
        <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog full text_align_left">
            <div class="full text_align_left">
                <h4>રૂટ કેનાલ ટ્રીટમેન્ટ એટલે શું?</h4>
                <ul>
                <li class="text-justify">રૂટ કેનાલ ટ્રીટમેન્ટ દાંતની નસની જટિલ અને ચોકકસાઈપુર્વક કરવામાં આવતી ટ્રીટમેન્ટ છે, જેમાં દાંતનું પોલાણ અને રૂટ કેનાલમાંથી ઇન્ફેક્શન દુર કરવામાં આવે છે અને ખાસ રબર જેવા મટીરીયલથી  (કૃત્રિમ નસ) કેનાલ સીલ કરવામાં આવે છે, જેથી ફરીથી ઇન્ફેક્શન થાય નહિ.
                </li>
                </ul>
            </div>
            <div class="full text_align_left">
                <h4>સારવાર પછી દાંત પર કવર(કેપ) શા માટે જરૂરી છે?</h4>
                <ul>
                <li class="text-justify">સડો કે ઈજાને કારણે દાંતમાં થયેલા ઇન્ફેક્શનને દુર કરવા રૂટ કેનાલ ટ્રીટમેન્ટ કર્યા પછી દાંતને પોષણ મળતું બંધ થાય છે, ત્યારપછી દાંતનો કલર કાળાશ પડતો ઘટ્ટ થાય છે તેમજ દાંત બટકણો થાય છે. દાંતમાં  ફ્રેક્ચર થવાની શક્યતા રહે છે, તેથી દાંતને તૂટી  જતો અટકાવવા માટે તેના પર રક્ષણાત્મક અને કોસ્મેટીક કવર (કેપ) કરવું હિતાવહ છે.
                </li>
                </ul>
            </div>
            <div class="full text_align_left">
                <h4>દાંતના ઊંડા સડાની રૂટ કેનાલ ટ્રીટમેન્ટ ન કરાવીએ તો શું થાય?</h4>
                <ul>
                <li class="text-justify">ઘણીવખત કેટલાક લોકો સડેલા દુઃખતા દાંતમાં રૂટ કેનાલ ટ્રીટમેન્ટ કરાવવાને બદલે પીડાશામક દવાઓથી ટેમ્પરરી રાહત મેળવવાના પ્રયાસ કરતા હોય છે  અને ટ્રીટમેન્ટ ટાળતા હોય છે. જો સમયસર યોગ્ય ટ્રીટમેન્ટ ન થાય તો રૂટ કેનાલનું ઇન્ફેક્શન દાંત નીચેના જડબાના હાડકામાં ફેલાય છે. તેને કારણે જો દબાણપૂર્વક રસી થાય તો અસહય દુઃખાવો થાય અને જો રસીની માત્રા ઓછી હોય તો કોઈ દુઃખાવો થતો નથી. શરીરની રોગપ્રતિકારકશક્તિ ખુબ જ સારી હોય ત્યારે આવા ઇન્ફેક્શનની ખબર પણ પડતી નથી, પણ જયારે આરોગપ્રતિકારકશક્તિ  સહેજ પણ નબળી પડે ત્યારે આ ઇન્ફેક્શન માટેના જવાબદાર બેક્ટેરિયા હાવી થઇ જાય છે અને દાંતમાં મધ્યમથી અસહય દુઃખાવો કરે છે અને આ  રસી જડબાના હાડકામાં હોલ કરીને બહાર નીકળી પેઢા, જડબા કે ચહેરા પર સોજો લાવે છે. દાંતને જકડી રાખતા હાડકામાં એક હદથી વધારે નુકસાન થાય તો, જે દાંત સમયસર ટ્રીટમેન્ટથી બચાવી શકાયો હોત તે દાંતને કઢાવવો પડે છે.
                </li>
                <li class="text-justify">સ્પષ્ય રીતે, ટ્રીટમેન્ટમાં વિલંબ કરવો જોખમી છે.</li>
                </ul>
            </div>
            <div class="full text_align_left">
                <h4>રૂટ કેનાલ ટ્રીટમેન્ટ વિશેની ગેરમાન્યતાઓ</h4>
                <ul>
                <li class="text-justify">1) ગેરમાન્યતા: રૂટ કેનાલ ટ્રીટમેન્ટમાં ખુબ જ દુઃખાવો થાય છે.</li>
                <li class="text-justify">સત્ય: રૂટ કેનાલ ટ્રીટમેન્ટમાં  દુઃખાવો થતો નથી, ઉલટું, તેનાથી તો દુઃખાવો દુર થાય છે, અને તે પણ કાયમ માટે.  અમારી વિશેષ આધુનિક ટેકનોલોજી અને એનેસ્થેસિયા વડે આ ટ્રીટમેન્ટ  ઘણી આરામદાયક રહે છે.</li>
                </ul>
                <ul>
                <li class="text-justify">2) ગેરમાન્યતા: એક વખત દાંત સડે અને દુઃખે પછી કઢાવવો જ પડે.</li>
                <li class="text-justify">સત્ય: થોડા સમય પહેલા આ માન્યતા સાચી હતી, પરંતુ હવે આધુનિક  ટેકનોલોજી, સંશોધન, તાલિમ અને  બેસ્ટ કવોલીટી મટીરીયલ અને મેડીસીનથી જો વ્યવસ્થિત,ચોક્કસાઈપૂર્વક સારવાર થયેલ હોય તો લગભગ ૧૦૦% કેસમાં સડો કે ઈજાને કારણે દુઃખતા દાંતને કાયમ માટે મટાડી શકાય છે અને તે પણ ફરીથી વર્ષો સુધી કામ આપે તે રીતે.</li>
                </ul>
            </div>
        </div>
    </div>
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}