{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="full">
              <div class="main_heading text_align_center">
                <h2 style="color:#039ee3">ડહાપણ દાઢની તકલીફ</h2>
                <h3 style="color:#039ee3">Wisdom Teeth</h3>
              </div>
            </div>
          </div>
        </div>
    <div class="row about_blog">
        <!-- section start-->
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
              <h3>ડહાપણ દાઢની તકલીફ</h3>
               <ul>
                <li class="text-justify"> <i class="fa fa-check-circle"></i>મોટાભાગના લોકોમાં એવી માન્યતા હોય છે કે ડહાપણ દાઢ ઉગે ત્યારે ખુબ જ દુખાવો થાય છે. પેઢા પર કે મોઢા પર સોજો આવે છે અને મોઢું ખોલવામાં તકલીફ પડે છે.</li>
                <li class="text-justify"> <i class="fa fa-check-circle"></i>સૌ પ્રથમ આપને એ જાણશું કે ડહાપણ દાઢ આવે ત્યારે શા માટે તક્લીફ થાય છે.પુખ્ત વયના માણસોને ૩૨ દાંત હોય છે. સામાન્ય રીતે ડહાપણ દાઢ ૧૭ વર્ષથી ૨૫ વર્ષની વય વચ્ચે આવે છે.</li>
                <li class="text-justify"> <i class="fa fa-check-circle"></i>ઉત્ક્રાંતિને કારણે માણસના જડબા પેઢી દર પેઢી નાના થતા જાય છે, પણ દાંતની સાઈઝમાં ફેર પડ્યો નથી.એટલે અત્યારના સમયમાં માણસના જડબા ૩૨ દાંત સમાવવા માટે નાના પડે છે. મોટે ભાગે ૨૮ દાંત માટે જ પૂરતી જગ્યા હોય છે. જો  બાકી બધા દાંત હાજર હોય અને તંદુરસ્ત હોય તો  ડહાપણ દાઢને ઉગવા માટે પુરતી જગ્યા હોતી નથી.જો જડબામાં પુરતી જગ્યા હોય તો તે સહેલાઈથી ઉગે છે અને ઉપયોગી સ્થિતિમાં  રહે છે અને કોઈ તકલીફ પડતી નથી. કોઈક વખત ડહાપણ દાઢ આવે ત્યારે થોડીક તકલીફ થાય છે,પણ તે થોડાક સમય પુરતી જ હોય છે, જે દાઢ પુરેપુરી ઉગી ગયા પછી દુર થઇ જાય છે.</li>
                <li class="text-justify"> <i class="fa fa-check-circle"></i>જો જડબામાં પુરતી જગ્યા ન હોય તેવામાં ડહાપણ દાઢ બહાર આવવાની કોશિશ કરે તો તે આગળની દાઢની પાછળ ફસાઈ જશે, તેને ફસાયેલી દાઢ (ઈમ્પેક્ટેડ વિઝડમ ટુથ) કહે છે.</li>
              </ul>
            </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <center><div> <img class="img-responsive" src="{% static 'images/it_service/wisdom_teeth.jpg' %}" alt="#" /> </div></center>
      </div>
      <!-- section end -->
      <!-- section start-->
      <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>ડહાપણ દાઢ ઉગતી વખતે પડતી તકલીફો</h3>
          <ul>
            <li>જો ડહાપણ દાઢનો થોડોક ભાગ પેઢાની બહાર દેખાય અને થોડોક ભાગ પેઢાથી ઢંકાયેલો હોય તો, પેઢા અને દાંતની વચ્ચે પોલાણ (પોકેટ) બને છે, જેમાં ફસાયેલા ખોરાકના કણો થોડા સમય બાદ કોહવાય છે અને પેઢામાં રસી કરે છે, તે વખતે પેઢામાં દુખાવો થઈ  શકે છે અને કદાચ તેમાં સોજો પણ આવી શકે છે.</li>
            <li>જે ખોરાકના કણો અને જીવાણુંઓ પેઢા નીચે એકઠા થાય છે, તે  વ્યવસ્થિત રીતે સાફ કરવા ઘણું અઘરું હોય છે.તમારા દાંતના ડોકટર આ બાબતે તમને વ્યવસ્થિત સલાહ આપી શકે કે આ તકલીફ માત્ર થોડોક સમય રહેશે કે દાઢ કઢાવવી પડશે.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 about_cont_blog">
        <div> <img class="img-responsive" src="{% static 'images/it_service/wisdom_teeth_1.jpg' %}" alt="#" /> </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>ઉપાય</h3>
          <ul>
            <li>મીઠાવાળા પાણીના કોગળા કરવાથી પેઢાનો દુખાવો તેમજ સોજામાં ઘણી રાહત થાય છે. એન્ટીસેપ્ટીક માઉથવોશના (કોગળા કરવાની દવા) પણ સોજો ઉતારવા માટે ઉપયોગી  રહે છે. થોડા સમય માટે દુખાવા-વિરોધી ગોળી (પેઈનકીલર) પણ ઉપયોગી રહે છે, પરંતુ જો દુખાવો ચાલુ રહે અને મોઢું ખોલવામાં પણ તકલીફ પડતી હોય તો ત્યારે દાંતના ડોકટરને બતાવવું જોઈએ. તે તમારી તકલીફનું કારણ જાણી શકે, અને તે મુજબ સલાહ આપી શકે. તમારા દાંત બરાબર  સાફ કરવા જરૂરી છે, તેમજ એન્ટીબાયોટીક દવાઓ પણ લેવી જરૂરી છે.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>ડહાપણ દાઢના એક્સ-રે નું મહત્વ</h3>
          <ul>
            <li>ડહાપણ દાઢના મૂળિયાની સ્થિતિ જોવા, તેમજ જડબામાં ડહાપણ દાઢ માટે પુરતી જગ્યા છે કે નહિ તે જોવા ડહાપણ દાઢનો એક્સ-રે હોવો જરૂરી છે. જયારે એક્સ-રે જોતા નિશ્ચિત થઇ જાય કે ડહાપણ દાઢ માટે જડબામાં જગ્યા નથી અને તે ઉપયોગી સ્થિતિમાં ઉગી શકે તેમ નથી અને તેનાથી દુખાવો કે અન્ય તકલીફ થતી હોય તો તે કઢાવી નાખવી હિતાવહ છે.<br/>જો ડહાપણ દાઢ થોડીક જ પેઢામાંથી બહાર આવી હોય તો આવી દાઢમાં સડો થવાની શક્યતા વધારે હોય છે, કારણ કે તે વ્યવસ્થિત સાફ થઇ શકે તેમ હોતી નથી. જો ડહાપણ દાઢની સફાઈ કરવામાં તકલીફ થતી હોય અને તેનો કોઈ ઉપયોગ ન હોય તો ડહાપણ દાઢ કઢાવી નાખવી હિતાવહ છે. જો ડહાપણ દાઢ વધારે પડતી ઉગી નીકળી હોય (સુપરાઈરપ્ટ) (આવું ઘણીવાર બનતું હોય છે) ત્યારે, સામેની દાઢ કઢાવી નાખેલ હોય અથવા ઉગી જ ન હોય, તો ડહાપણ દાઢ કઢાવી નાખવી જોઈએ.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 about_cont_blog">
        <div> <img class="img-responsive" src="{% static 'images/it_service/wisdom_teeth_2.jpg' %}" alt="#" /> </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 about_cont_blog">
        <div class="full text_align_left" >
          <h3>યાદ રાખો.</h3>
          <ul>
            <li> <i class="fa fa-check-circle"></i>ડહાપણ દાઢ કઢાવવાની સારવાર, અન્ય દાંત કાઢવાની સારવાર કરતા મુશ્કેલ હોય છે. ડહાપણ દાઢ કાઢવા માટે ક્યારેક નાનું એવું ઓપરેશન કરવું પડે છે.</li>
            <li> <i class="fa fa-check-circle"></i>ડહાપણ કાઢવી કેટલી મુશ્કેલ છે એ ડહાપણ દાઢના મૂળિયાંની સ્થિતિ અને આકાર પર આધાર રાખે છે. આ બાબત તમને તમારા દાંતના ડોક્ટર એક્સ-રે બતાવીને સમજાવી શકશે કે દાઢ કાઢવી કયારે મુશ્કેલ કે સરળ હોય છે.</li>
            <li> <i class="fa fa-check-circle"></i>કયારેક દાઢ કઢાવ્યા પછી સામાન્ય દુખાવો કે ચહેરા પર સોજો રહે છે, જેની માત્રા દાઢ કાઢવી કેટલી સરળ છે તેના પર રહેલી છે.</li>
          </ul>
        </div>
      </div>
      <!-- section end -->
    </div>

    
<!--end section data-->
</div>
</div>
<!-- end section -->
{% endblock %}